/* ---( PeerWise - style sheet )------------------------------------ */

/* ---( body text )-------------------------------- */
body { margin:15px; background:#d5e4f9; background-image:url("../../bin/images/tile.png"); font-size: 14px; font-family: Arial, sans-serif; color:#333; text-align:center;}
img { border-style: none; }

/* ---( standard links )--------------------------- */
a:link { text-decoration:none; color:#588bb6; font-family:'trebuchet ms',helvetica,sans-serif; font-size:85%; font-weight:bold; background-color:#eeeeff; border-bottom:1px solid; border-color:#05f; }
a:visited { text-decoration:none; color:#588bb6; font-family:'trebuchet ms',helvetica,sans-serif; font-size:85%; font-weight:bold; background-color:#eeeeff; border-bottom:1px solid; border-color:#05f; }
a:hover { color:#eeeeff; background-color:#588bb6; }
a:active { color:#eeeeff; background-color:#2222ff; }

/* ---( for links created in a question by a user )--------------------------- */
a.enteredLink:link { text-decoration:none; font-family: Times, Times New Roman, serif; font-size: 15px; font-weight:normal; background-color: #FFFFFF; color:#0000ff; border-bottom:1px solid; border-color:#0000ff; }
a.enteredLink:visited { text-decoration:none; font-family: Times, Times New Roman, serif; font-size: 15px; font-weight:normal; background-color: #FFFFFF; color:#0000ff; border-bottom:1px solid; border-color:#0000ff; }
a.enteredLink:hover { background-color: #eeeeff; color:#0000ff; }
a.enteredLink:active { background-color: #eeeeff; color:#0000ff; }

/* ---( information popups )--------------------- */
a.info { position:relative; z-index:24; text-decoration:none; border:none; background-color:inherit; font-size:100%; font-weight:normal; }
a.info:hover { z-index:25; }
a.info span.infotext { display: none; }
a.info:hover span.infotext { display:block; position:absolute; top: 5px; right: 3px; width:450px; padding: 5px; border:1px solid #1166ff; color: #000000; background-color:#ffffff; text-align: left; z-index:30; }

/* ---( links in a table of questions )--------------------- */
a.viewQ:link, a.viewQ:visited { text-decoration:none; color:#588bb6; font-family:'trebuchet ms',helvetica,sans-serif; font-size:95%; font-weight:bold; background-color:#eeeeff; padding-top:5px; padding-bottom:5px; padding-left:10px; padding-right:10px; border:1px solid #6af; }
a.viewQ:hover { color:#eeeeff; background-color:#588bb6; }
a.viewQ:active { color:#eeeeff; background-color:#2222ff; }

/* --- (the hover pop-up text on the question rating form) ------------------------------ */
a.rss-icon { position:relative; z-index:24; text-decoration:none; border:none; background-color:inherit; font-size:100%; font-weight:normal; }
a.rss-icon:hover { z-index:25; }
a.rss-icon span.infotext { display: none; }
a.rss-icon:hover span.infotext { display:block; position:absolute; top: 15px; left: 3px; width:550px; padding: 5px; border:1px solid #c25a7c; color: #222; background-color:#ffffff; text-align: left; z-index:30; }

/* ---( links that look like buttons )--------------------------- */
a.buttonLook:link { padding-left: 10px;  padding-top: 6px;  padding-right: 10px;  padding-bottom: 6px; border: 1px solid #6af }
a.buttonLook:visited { padding-left: 10px;  padding-top: 6px;  padding-right: 10px;  padding-bottom: 6px; border: 1px solid #6af }
a.buttonLook:hover { color:#eeeeff; background-color:#588bb6; border:1px solid #33f; }
a.buttonLook:active { color:#eeeeff; background-color:#2222ff; }

/* ---( navigation bar links )--------------------- */
.navlink a:link { text-decoration:none; color:#588bb6; font:100% Verdana, Arial, serif; font-weight:bold; background-color:#eeeeff; border-bottom:1px solid; border-color:#05f; }
.navlink a:visited { text-decoration:none; color:#588bb6; font:100% Verdana, Arial, serif; font-weight:bold; background-color:#eeeeff; border-bottom:1px solid; border-color:#05f; }
.navlink a:hover { color:#eeeeff; background-color:#588bb6; }
.navlink a:active { color:#eeeeff; background-color:#2222ff; }

/* ---( buttons )------------------------------------ */
input.btn{ text-decoration:none; color:#588bb6; font-family:'trebuchet ms',helvetica,sans-serif; font-size:85%; font-weight:bold; background-color:#eeeeff; padding-top:5px; padding-bottom:5px; padding-left:5px; padding-right:5px; border:1px solid #6af; }
input.btnhov{ color:#eeeeff; background-color:#588bb6; border:1px solid #33f; }
input.btn_click{ text-decoration:none; color:#eeeeff; font-family:'trebuchet ms',helvetica,sans-serif; font-size:85%; font-weight:bold; background-color:#2222ff; padding-top:5px; padding-bottom:5px; padding-left:5px; padding-right:5px; border:1px solid #6af; }

input.btn_answer{ text-decoration:none; color:#588bb6; font-size:150%; font-weight:bold; background-color:#eeeeff; padding:20px; margin: 10px; border:1px solid #6af; }
input.btnhov_answer{ color:#eeeeff; background-color:#588bb6; border:1px solid #33f; }
input.btn_answerclick{ text-decoration:none; color:#eeeeff; background-color:#2222ff; font-size:150%; font-weight:bold; padding:20px; margin: 10px; border:1px solid #6af; }

/* ---( Specific divs )------------------------ */
div.loginFields { padding:30px; }
div.loginButton { padding:20px; text-align: center; }
div.questionInput { padding: 5px; margin-top:20px; margin-left: 20px; width:90%; }
div.commentsInput { padding: 5px; margin-top:20px; margin-left: 20px; width:90%; }
div.feedbackInput { padding: 5px; margin-top:20px; margin-left: 20px; width:90%; }
div.alternativesInput { padding: 0px; margin-top:0px; margin-left: 0px; width:100%; }

/* ---( Status and navigation area divs )---------------------------- */
#status {background:#fff; padding-top: 10px; padding-bottom: 10px; font-size:84%; text-align: right;}
#navigation {border:1px solid #999999; background:#eeeeee; padding: 6px; font-family: Verdana, Arial, sans-serif; font-size:100%; font-weight:bold;}
#statslink {padding-top:20px; margin-top:25px; border-top:1px dashed #999;}
#bignumbers {font-size:150%;}
#commentscores {color: #588bb6; font-size: 10px;}

/* ---( headers )------------------------------------ */
h1, h2, h3, h4, h5, h6 {color:#588bb6; font-family: Verdana, Arial, sans-serif; letter-spacing:0.1em;}
h1 {font-size:160%; margin-top:52px; margin-bottom:0px; padding-top:10px;  padding-left:10px;  padding-bottom:10px; font-weight:bold; font-style:italic; background:#588bb6; color:#ffffff;}
h2 {font-size:120%; margin-top:25px; padding-top:10px; margin-bottom:10px; font-weight:bold; border-top:1px dashed #999; }

/* ---( layout )------------------------------------ */
#container{background-color:#fff; background-position: 30px 5px; background-image:url("../../bin/images/PeerWise47.png"); background-repeat:no-repeat; min-width: 800px; margin-right:20px; margin-left:20px; padding-top:0px; padding-left:30px; padding-right:30px; padding-bottom:30px; border:1px solid #999; text-align: left;}
#mainHeading{  }

#questionDisplay{ padding: 10px; font-family: arial,helvetica,sans-serif; font-size: 15px; background-color: #FFFFFF; text-align: left; width:95%; margin-top:20px; margin-left: 20px; border:1px solid #999; }
#alternativesDisplay{ padding: 10px; font-family: arial,helvetica,sans-serif; font-size: 15px; background-color: #FFFFFF; text-align: left; width:95%; margin-top:0px; margin-left: 0px; }
#commentsDisplay{ padding: 10px; font-family: arial,helvetica,sans-serif; font-size: 15px; background-color: #FFFFFF; text-align: left; width:95%; margin-top:20px; margin-left: 20px; border:1px solid #999; }
#tagsDisplay{ padding: 10px; font-family: arial,helvetica,sans-serif; font-size: 15px; background-color: #FFFFFF; text-align: left; width:95%; margin-top:20px; margin-left: 20px; border:1px solid #999; }
#ratingButtonsDisplay{ padding: 5px; font-family: arial,helvetica,sans-serif; font-size: 15px; background-color: #FFFFFF; text-align: center; width:95%; margin-top:20px; margin-left: 20px; border:1px solid #999; }
#highlightRatingSection{ background-color: #FFEEEE; padding-top:5px; padding-bottom:20px; border: 3px solid #F00;}
#previewTextFormat { font-size: 80%; text-align: left; }

div.karmaDisplay { border-left:1px solid #999999; border-right:1px solid #999999; border-bottom:1px solid #999999; padding-left: 10px; padding-bottom: 10px; padding-right: 10px; margin-top:-1px; background: #eeeeee; color: #112233; font-size:84%; font-family: Verdana, Arial, sans-serif; text-align: center; float: right; }
p.spread { margin-top: 20px; margin-left: 20px; margin-right: 5px; padding: 0px }
p.pagination { margin-top: 5px; margin-bottom: 20px; padding: 0px; font-size: 90%; font-family:'trebuchet ms',helvetica,sans-serif; }
p { margin: 0px; padding: 0px }

/* ---( contact form styles )------------------------------------ */
input#user, input#pass {width: 200px;  background: #eeeeff; border: 1px solid #999; font-size: medium; padding:1px;}
input#tags {width: 60%;  background: #eeeeff; border: 1px solid #999; font-size: medium; padding:1px;}
input#score {width: 60%;  background: #eeeeff; border: 1px solid #999; font-size: medium; padding:1px;}
label#login { width: 10em; float: left; font-weight:bold; text-align: right; margin-right: 1em; display: block; }
label#forms { float: left; font-weight:bold; text-align: left; padding-top: 5px; padding-right: 10px; padding-left: 4%; display: block; }
label#tags { float: left; font-weight:bold; text-align: left; padding-top: 5px; padding-right: 10px; padding-left: 4px; display: block; }
fieldset { border: 1px solid #781351; width: 80%; padding-top:20px; }
legend { color: #fff; background: #1166ff; border: 1px solid #781351; padding: 2px 6px; }

/* ---( tables - careful not to collide with "td" from tinymce )------------------------------------ */
#basicTable { min-width: 400px; margin-left: 20px; text-align: center; }
caption { padding: 0 30px 5px 0; font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; text-align: right; }

td.leftHeading {   background: #588bb6; font-family:'trebuchet ms',helvetica,sans-serif; font-size: 70%; font-style: normal; color: #fff; border-right: 1px solid #C1DAD7; border-left: 1px solid #C1DAD7; border-bottom: 1px solid #C1DAD7; border-top: 1px solid #C1DAD7; letter-spacing: 1px; padding: 8px; }
td.middleHeading { background: #588bb6; font-family:'trebuchet ms',helvetica,sans-serif; font-size: 70%; font-style: normal; color: #fff; border-right: 1px solid #C1DAD7; border-bottom: 1px solid #C1DAD7; border-top: 1px solid #C1DAD7; letter-spacing: 1px; padding: 8px; }
td.shortMiddleHeading { background: #588bb6; font-family:'trebuchet ms',helvetica,sans-serif; font-size: 70%; font-style: normal; color: #fff; border-right: 1px solid #C1DAD7; border-bottom: 1px solid #C1DAD7; border-top: 1px solid #C1DAD7; letter-spacing: 1px; }

td.spaceLeft {    border-left: 1px solid #C1DAD7; border-right: 1px solid #C1DAD7; border-bottom: 1px solid #C1DAD7; padding: 15px; color: #4f6b72; background-image:url("../../bin/images/gradient.png");}
td.left {    border-left: 1px solid #C1DAD7; border-right: 1px solid #C1DAD7; border-bottom: 1px solid #C1DAD7; background: #fff; padding: 10px; color: #4f6b72; background-image:url("../../bin/images/gradient.png");}
td.middle {    border-right: 1px solid #C1DAD7; border-bottom: 1px solid #C1DAD7; background: #fff; padding: 10px; color: #4f6b72; background-image:url("../../bin/images/gradient.png");}
td.shortMiddle {    border-right: 1px solid #C1DAD7; border-bottom: 1px solid #C1DAD7; background: #fff; color: #4f6b72; background-image:url("../../bin/images/gradient.png");}

td.leftClear {    border-left: 1px solid #C1DAD7; border-right: 1px solid #C1DAD7; border-bottom: 1px solid #C1DAD7; background: #fff; padding: 8px; color: #4f6b72; }
td.middleClear {    border-right: 1px solid #C1DAD7; border-bottom: 1px solid #C1DAD7; background: #fff; padding: 6px 6px 6px 12px; color: #4f6b72; }

td.leftShaded {    border-left: 1px solid #C1DAD7; border-right: 1px solid #C1DAD7; border-bottom: 1px solid #C1DAD7; background: #eee; padding: 8px; color: #4f6b72; }
td.middleShaded {    border-right: 1px solid #C1DAD7; border-bottom: 1px solid #C1DAD7; background: #eee; padding: 8px; color: #4f6b72; }

/* -- for the tables which hold the input text areas -- */
td.inputnormal { background: #fff; padding: 6px 6px 6px 12px; color: #4f6b72; }
td.inputnogap { width:90%; background: #fff; padding: 10px; color: #4f6b72; }
td.inputleft { background: #fff; padding: 6px 6px 6px 12px; color: #4f6b72; width: 5%; text-align: center }
td.inputalt { background: #F5FAFA; color: #797268; }
td.inputleftalt { background: #F5FAFA; color: #797268; }

/* -- for the tables which display the options -- */
#displayQuestionTable { width: 95%; min-width: 400px; margin-left: 20px; }
th.displayAltText { width: 90%; background: #fff; font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; color: #000; border-right: 1px solid #000; border-bottom: 2px solid #000; border-top: 1px solid #000; letter-spacing: 2px; text-transform: uppercase; text-align: left; padding-left: 20px; }
th.displayOption { background: #fff; font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; color: #000; border-right: 1px solid #000; border-left: 1px solid #000; border-bottom: 2px solid #000; border-top: 1px solid #000; letter-spacing: 2px; text-transform: uppercase; text-align: center; padding: 10px; }
th.displayGraph { background: #fff; font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; color: #000; border-right: 1px solid #000; border-bottom: 2px solid #000; border-top: 1px solid #000; letter-spacing: 2px; text-transform: uppercase; text-align: center; padding-top: 10px; }
td.displayAltText { border-right: 1px solid #999; border-bottom: 1px solid #999; background: #fff; padding: 6px 6px 6px 12px; color: #000; }
td.displayGraph { font-size:10px; width: 100px; border-right: 1px solid #999; border-bottom: 1px solid #999; background: #fff; padding-top: 5px; padding-left: 0px; color: #000; text-align: left; }
/* The possible display types for the options in the table of alternatives: */
td.displayPlain { border-left: 1px solid #999; border-right: 1px solid #999; border-bottom: 1px solid #999; background: #fff; padding: 0px; color: #000; text-align: center; }
td.displayCircleAndHighlightOption { background: #bfb; background-position: center; background-repeat: no-repeat; background-image: url(../../bin/images/blackCircle.gif); border-left: 1px solid #999; border-right: 1px solid #999; border-bottom: 1px solid #999; padding: 0px; color: #000; text-align: center; }
td.displayCircleOption { background-position: center; background-repeat: no-repeat; background-image: url(../../bin/images/blackCircle.gif); border-left: 1px solid #999; border-right: 1px solid #999; border-bottom: 1px solid #999; padding: 0px; color: #000; text-align: center; }
td.displayHighlightOption { background: #bfb; border-left: 1px solid #999; border-right: 1px solid #999; border-bottom: 1px solid #999; padding: 0px; color: #000; text-align: center; }

/* -- For the display of the administrator comments -- */
#displayAdminComment { width: 95%; min-width: 400px; padding-right: 5px; margin-left: 20px; }
td.adminCommentText { font-family: arial,helvetica,sans-serif; font-size: 14px; border-top: 1px solid #330099; border-left: 1px solid #330099; border-right: 1px solid #330099; border-bottom: 1px solid #CDC8B1; background: #D3DFFF; color: #000; padding: 6px 6px 6px 12px; }
td.adminCommentName { font-family: arial,helvetica,sans-serif; font-size: 10px; text-align: left; border-left: 1px solid #330099; border-bottom: 1px solid #330099; background: #fff; padding: 6px 6px 6px 12px; }
td.adminCommentDate { font-family: arial,helvetica,sans-serif; font-size: 10px; font-style:italic; text-align: right; border-right: 1px solid #330099; border-bottom: 1px solid #330099; background: #fff; padding: 6px 6px 6px 12px; }


/* -- For the comments table -- */
#commentTable { width: 100%; min-width: 400px; background: #ffffff; }
#commentTableAlt { width: 100%; min-width: 400px; background: #f5fafa; }
#commentReplyTable { width: 100%; background: #ffffff;  }
#commentReplyTableAlt { width: 100%; background: #f5fafa; }

#commentAuthorCred {color: #385bf6; }

td.commentDate { font-size: 80%; width: 50%; color: #aaa; }
td.commentAuthorCred { text-align: right; font-size: 80%; color: #aaa; }
td.commentText { padding-left: 15px; padding-top: 10px; padding-bottom: 10px; padding-right: 15px; border-top: 1px solid #eee; color: #000; width: 95% }
td.commentAgreeBoxes { border-top: 1px solid #eee; padding-right: 5px; }
td.commentAgreeBoxesLeftLine { border-top: 1px solid #eee; border-left: 1px solid #eee; padding-left: 5px;}
td.commentNoAgreeBoxes { border-top: 1px solid #eee; border-left: 1px solid #eee; padding-left: 15px; padding-right: 15px;}

td.commentReplyIndent { width: 50px; border-right: 1px solid #aaa; }
td.commentReplyDate { font-size: 80%; color: #aaa; border-top: 1px solid #aaa;}
td.commentReplyAuthorCred { text-align: right; font-size: 80%; color: #aaa; border-top: 1px solid #aaa;}
td.commentReplyEntry { padding-left: 10px; font-size: 80%; color: #000; }
td.commentAddReplyArea { padding-top: 5px; padding-bottom: 5px; font-size: 80%; color: #385bf6; border-top: 1px solid #aaa; }
td.commentNewReplyArea { padding-left: 15px; padding-top: 5px; padding-bottom: 5px; font-size: 80%; color: #385bf6; border-top: 1px solid #eee; }

div.commentEntry { border-top: 1px solid #999; border-left: 1px solid #999; border-right: 1px solid #999; } 
div.commentEntryLast { border-top: 1px solid #999; border-left: 1px solid #999; border-right: 1px solid #999; border-bottom: 1px solid #999; } 

a.commentAreaLink:link { text-decoration:none; background-color: inherit; color:#385bf6; border-bottom:0px; }
a.commentAreaLink:visited { text-decoration:none; background-color: inherit; color:#385bf6; border-bottom:0px; }
a.commentAreaLink:hover { background-color: #eeeeff; color:#0000ff; border: 1px solid; }
a.commentAreaLink:active { background-color: #eeeeff; color:#0000ff; }

/* -- for the tables which display the feedback -- */
#displayFeedbackTable { width: 95%; min-width: 400px; margin-left: 20px; }
th.feedbackDate { background: #fff; width: 20%; font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; color: #000; border-right: 1px solid #000; border-left: 1px solid #000; border-bottom: 2px solid #000; border-top: 1px solid #000; letter-spacing: 2px; text-transform: uppercase; text-align: left; padding: 6px 6px 6px 12px; }
th.feedbackComment { background: #fff; font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; color: #000; border-right: 1px solid #000; border-bottom: 2px solid #000; border-top: 1px solid #000; letter-spacing: 2px; text-transform: uppercase; text-align: left; padding: 6px 6px 6px 12px; }
td.feedbackDate { border-left: 1px solid #999; border-right: 1px solid #999; border-bottom: 1px solid #999; background: #fff; padding: 0px; color: #797268; text-align: center}
td.feedbackComment { font-family: arial,helvetica,sans-serif; font-size: 14px; border-right: 1px solid #999; border-bottom: 1px solid #999; background: #fff; padding: 6px 6px 6px 12px; color: #000; }
td.feedbackDatealt { background: #F5FAFA; color: #797268; border-left: 1px solid #999; border-right: 1px solid #999; border-bottom: 1px solid #999; padding: 0px; text-align: center}
td.feedbackCommentalt { font-family: arial,helvetica,sans-serif; font-size: 14px; background: #F5FAFA; color: #000; border-right: 1px solid #999; border-bottom: 1px solid #999; padding: 6px 6px 6px 12px;  }

td.feedbackCommentNoUnder { font-family: arial,helvetica,sans-serif; font-size: 14px; border-right: 1px solid #999; background: #fff; padding: 6px 6px 6px 12px; color: #000; }
td.feedbackCommentNoUnderalt { font-family: arial,helvetica,sans-serif; font-size: 14px; background: #F5FAFA; color: #000; border-right: 1px solid #999; padding: 6px 6px 6px 12px;  }

td.feedbackAuthor    { font-family: arial,helvetica,sans-serif; font-size: 14px; border-right: 1px solid #999; border-bottom: 1px solid #999; background: #fff; padding: 6px 6px 6px 25px; color: #000; }
td.feedbackAuthoralt { font-family: arial,helvetica,sans-serif; font-size: 14px; background: #F5FAFA; color: #000; border-right: 1px solid #999; border-bottom: 1px solid #999; padding: 6px 6px 6px 25px;  }
td.feedbackEndorse {  border-right: 1px solid #F00; border-bottom: 1px solid #F00; background: #FFEEEE; vertical-align: middle; text-align: center; padding: 0px 0px 0px 0px; }
td.feedbackEndorseWhite {  border-right: 1px solid #F00; border-bottom: 1px solid #F00; background: #FFFFFF; vertical-align: middle; text-align: center; padding: 0px 0px 0px 0px; }

#feedbackAuthor { border-left: 1px solid #b99; border-top: 1px solid #b99; padding: 6px 6px 6px 6px; }

.tablelink a:link { text-decoration:none; color:#ffffff; font:100% Verdana, Arial, serif; font-weight:bold; background-color:#588bb6; border-bottom:1px solid; border-color:#fff; }
.tablelink a:visited { text-decoration:none; color:#ffffff; font:100% Verdana, Arial, serif; font-weight:bold; background-color:#588bb6; border-bottom:1px solid; border-color:#fff; }
.tablelink a:hover { color:#588bb6; background-color:#eeeeff; } 
.tablelink a:active { color:#eeeeff; background-color:#2222ff; }

p.tagCloud { margin-top: 20px; margin-left: 20px; padding: 20px; border: 1px solid #999; }
.tagCloud a:link {    text-decoration:none; font-size:80%; background-color:#fff; border: none; }
.tagCloud a:visited { text-decoration:none; font-size:80%; background-color:#fff; border: none; }
.tagCloud a:hover { color:#fff; background-color:#eeeeff; border: 1px solid #000; }
.tagCloud a:active { color:#fff; background-color:#2222ff; border: 1px solid #000; }

p.personalTagCloud { margin-top: 20px; margin-left: 20px; padding-top: 5px; padding-bottom: 5px; padding-left: 20px; padding-right: 20px; border-left: 5px solid #3D59AB; }
.personalTagCloud a:link {    text-decoration:none; font-size:80%; background-color:#fff; border: none; }
.personalTagCloud a:visited { text-decoration:none; font-size:80%; background-color:#fff; border: none; }
.personalTagCloud a:hover { color:#fff; background-color:#eeeeff; border: 1px solid #000; }
.personalTagCloud a:active { color:#fff; background-color:#2222ff; border: 1px solid #000; }

.againgreen a:link { background-color:#dfd; border:none; }
.againgreen a:visited {  background-color:#dfd; border:none; }
.againgreen a:hover { background-color:#eeeeff; border: 1px solid; color: #000; } 
.againgreen a:active { background-color:#2222ff; }

.againred a:link { background-color:#fdd; border:none; }
.againred a:visited {  background-color:#fdd; border:none; }
.againred a:hover { background-color:#eeeeff; border: 1px solid; color: #000; } 
.againred a:active { background-color:#2222ff; }

.againyellow a:link { background-color:#FFEA9F; border:none; }
.againyellow a:visited {  background-color:#FFEA9F; border:none; }
.againyellow a:hover { background-color:#eeeeff; border: 1px solid; color: #000; } 
.againyellow a:active { background-color:#2222ff; }

.againwhite a:link { background-color:#fff; border:none; }
.againwhite a:visited {  background-color:#fff; border:none; }
.againwhite a:hover { background-color:#eeeeff; border: 1px solid; color: #000; } 
.againwhite a:active { background-color:#2222ff; }






